@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,700&family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    background-color: white;
    height: 100%;
}
body {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
    overflow-x:hidden;
}
/*HEADER*/
header {
    flex: 0 0 auto;
}
.header {
    background-color: white;
  
}
.photo {
    margin: 0 0 0 50px;
}
.links {
    display: inline-flex;
    padding: 0;
    gap: 30px;
    margin: 20px;
    
}
.links li {
    list-style: none;

}
.links li a {
    text-decoration: none;
    cursor: pointer;
    color: #4d2323;
}
.links li a:hover{
    color: #9C3721;
    text-decoration: underline;
}
.navigation {
    display: flex;
    justify-content: flex-end;
}
/*CONTANIER*/
.contanier {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: white;
    align-items: center;
    gap: 50px;
    flex: 1 0 auto;
}
/*Section 1*/
.section_1 {
    display: flex;
    gap: 550px;
    width: 1440px;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}
/*section 2*/
.section_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
}
.lang {
    display: flex;
    justify-content: space-between;
}
/*Education*/
.education{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 20px);
    justify-content: center;
    border-bottom: 1px solid #672f2f;
}
.text p {
    margin: 20px;

}
h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}
/*Footer*/
footer {
    width: 1440px;
    background-color: white;
    flex: 0 0 auto;
}
.footer {
    display: flex;
    justify-content: space-around;
}
.link a {
    text-decoration: none;
    color: #4d2323;
    cursor: pointer;
}
.link a:hover {
    color: #9C3721;
}
.text a {
    text-decoration: none;
    color: #4d2323;
    cursor: pointer;
}
.text a:hover{
    color: #9C3721;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;

}
.line {
    background-color: gray;
    height: 1px;
    border-radius: 5px;
}

h2 {
    margin: 20px;
}
/*ABOUT*/
.about_me{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    justify-content: space-between;
    border-bottom: 1px solid #672f2f;
}
/*projects*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(50% - 20px);
    border-bottom: 1px solid #672f2f;
}
.projects li {
list-style: none;
}
.projects ul {
    padding: 0;
    margin: 20px;
}
.projects a {
text-decoration: none;
cursor: pointer;
color: #4d2323;
}
.projects a:hover {
    color: #9C3721;
}
/*Skills*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-bottom: 1px solid #672f2f;
}
.skills li{
    list-style: none;
}
.skills ul {
    display: flex;
    padding: 0;
}